<div class="well sidebar-nav">
    <ul class="nav nav-list">
    <li class="nav-header">More Help</li>
    <li>
      <i class="icon-comments-alt icon-large icon-fixed-width"></i>
      <span id="chat">Chat with us!</span>
    </li>
    <li>
      <i class="icon-phone icon-large icon-fixed-width"></i>
      <span>555-555-5555</span>
    </li>
    <li>
      <i class="icon-phone-sign icon-large icon-fixed-width"></i>
      <span>555-555-5555 (text)</span>
    </li>
    <li>
      <i class="icon-envelope-alt icon-large icon-fixed-width"></i>
      <span><a data-toggle="modal" href="#modal-email">E-mail us</a></span>
    </li>
    <li class="nav-header">Stay Connected</li>
    <li>
      <i class="icon-rss icon-large icon-fixed-width"></i>
      <span><a href="">Read our blog</a></span>
    </li>
    <li>
      <i class="icon-twitter icon-large icon-fixed-width"></i>
      <span><a href="">Follow us on Twitter</a></span>
    </li>
    <li>
      <i class="icon-facebook icon-large icon-fixed-width"></i>
      <span><a href="">Like us on Facebook</a></span>
    </li>
    <li>
      <i class="icon-google-plus icon-large icon-fixed-width"></i>
      <span><a href="">Add us to Google+ circles</a></span>
    </li>
    <li>
      <i class="icon-pinterest icon-large icon-fixed-width"></i>
      <span><a href="">Follow us on Pinterest</a></span>
    </li>
    <li class="nav-header">Share this FAQ</li>
    <li>{% include "social.html" %}</li>
  </ul>
</div>
{% include "tag-cloud.html" %}
