<div id="modal-email" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Ask us by e-mail</h3>
  </div>

  <div class="modal-body">
    <form id="email-form" method="post">
        <input name="name" class="input-block-level" type="text" default-value="Your name" />
        <input name="email" class="input-block-level" type="text" default-value="Your e-mail address" />
        <textarea name="question" class="input-block-level" rows="10">Your question...</textarea>
    </form>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" id="email-form-submit" class="btn btn-primary">Ask us!</a>
  </div>
</div>
