<div id="customFooter"><table width="100%" id="libfoot">
      <tbody><tr>
        <td id="t-first"><a class="libhome" href="http://resources.library.lemoyne.edu/library">Noreen Reale Falcone Library</a></td>
        <td id="t-middle">Le Moyne College, 1419 Salt Springs Road, Syracuse, NY 13214</td>
        <td id="t-last">tel: 315-445-4153 • fax: 315-445-4642</td>
      </tr>
    </tbody></table>
    <div id="postfoot">
      <a href="http://lemoyne.edu">Le Moyne College</a> •
      <a href="http://resources.library.lemoyne.edu/visit">Visit the Library</a> •
      <a href="http://resources.library.lemoyne.edu/contact">Contact Us</a> •
      <a href="http://resources.library.lemoyne.edu/pubserv-hours">Hours of Service</a> •
      <a href="http://resources.library.lemoyne.edu/browse.php">Site Map</a>
</div>

<!-- Google Analytics - activated 1/13/16 tk -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72350615-1', 'auto');
  ga('send', 'pageview');
</script>
