.lmc-footer-top {
  background-color: #00452e;
  color: white;
}
.lmc-footer-top div {
  padding-top: 1em;
}
.lmc-footer-top div:last-child {
  padding-bottom: 2em;
}
.lmc-footer-top img {
  max-width: 250px;
  max-width: 20vw;
  min-width: 120px;
  padding-bottom: 2em;
}

/* add right padding to LibCal hours widget in footer */
td.hours-col-loc {
  padding-right: 0.75em;
}
